SECRET_KEY = "a1b2c3d4e5f6"

DEBUG = 1

PER_PAGE = 10

DATABASE_ENGINE = "django.db.backends.sqlite3"
DATABASE_NAME = "./db.sqlite3"

DATABASE_USER = "master"
DATABASE_PASSWORD = "superkey"
DATABASE_HOST = "127.0.0.1"
DATABASE_PORT = "5432"

ALLOWED_HOSTS = "127.0.0.1, localhost"
CSRF_TRUSTED_ORIGINS = "https://localhost"
